.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.MSS-Button-Container{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.MSS-Button{
  position: relative;
  display: block;
  color: #000;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.MSS-Button::before{
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.MSS-ButtonOne::before{
  width: 0%;
  height: 100%;
}

.MSS-ButtonOne:hover::before{
  width: 100%;
}

.MSS-Question {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.MSS-RecomendationBox {
  border: 1px solid #000;
  font-size: 16px;
  padding: 7px;
  display: inline-block;
  min-width: 25px;
}

.MSS-RecomendationBox:hover {
  background-color:#2EA620;
}

.MSS-RecomendationBox:focus {
  background-color:#2EA620;
}

.MSS-RecommendationLikely {
  font-size: 8px;  
}

.MSS-PAD {
  margin-left: 15px;
  min-height:220px;  
}

.MSS-STEPFROMSTEP {
  font-size: 12px;
}

